= form_for bulletin, url: {action: bulletin.new_record? ? 'create' : 'update'},  html: {class: "ui form #{'error' if bulletin.errors.any?}", data:{'parsley-validate': true, 'parsley-ui-enabled': false}, autocomplete:'off'} do |form|
  
  = form.text_field :title, class:'ui input'
  = form.datetime_field :post_at, data: {type:'datetime'}, class:'ui input'
  = form.text_area :markdown_text, class:'ui input'

  = form.submit 'Save Bulletin', class:'ui button'

- if not bulletin.new_record? and can? :destroy, bulletin
  = form_for bulletin, url: {action: 'destroy'},  method:'delete',  html: {class:'ui form', autocomplete:'off'} do |form|

    = form.submit 'Delete Bulletin', class: 'ui bottom attached button orange'