- content_for :title, "Bulletins | "

%h1 Bulletins

- if can? :create, Bulletin
  %a.ui.button{href:new_bulletin_url} New Bulletin

%table.ui.celled.striped.table
  %tbody
    - @bulletins.each do |b|
      %tr
        %td
          %a{href:bulletin_url(b)}= b.title
        %td
          %time{data:{type:'datetime'}}= b.post_at.iso8601
          - if b.post_at > DateTime.now
            %span (in the future)
