- content_for :title, "New Bulletin | "

%h1.ui.header New Bulletin

%p
  By default bulletins are created with a 'post at' date that means that they'll appear the day after they're created. 
  You can use 
  %a{href:'https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf'} Markdown
  to add links, emphasise text and so on.

%p You can edit or delete any bulletin that hasn't been posted yet.

= render partial:'form', locals:{bulletin:@bulletin}
