- content_for :title, "Bulletin | #{@bulletin.title} |"


.bulletin.container.ui.card.fluid
  .content
    %h1= @bulletin.title
    %p
      %time{data:{type:'datetime'}}= @bulletin.post_at.iso8601
      - if @bulletin.post_at > DateTime.now
        %span (in the future)

    .bulletin-content!= @bulletin.html

  %a.ui.bottom.attached.button.positive{href:'/'}
    Return to homepage

  - if can? :update, @bulletin
    %a.ui.bottom.attached.button.orange{href:edit_bulletin_url(@bulletin)}
      Edit Bulletin