- content_for :title, "Run Charts | "

%h1 Run Charts

.ui.warning.message
  %p The charts below are based only on the data in this database. The accuracy of the charts depends on the quality and completeness of this data.

.ui.grid
  .two.column.row
    .column
      .monthly-chart{data:{title:'Number of Episodes'}}
        .series{data:{field:'total_episodes', name:'Total Episodes', color:'#666'}}
        .series{data:{field:'episodes_with_rotems', name:'... with any ROTEM'}}
        .series{data:{field:'episodes_with_incomplete_sections', name:'... with incomplete data', color:'#b33'}}

    .column
      .monthly-chart{data:{title:'Number of Maternities'}}
        .series{data:{field:'total_maternities', name:'Total Maternities'}}


  .two.column.row
    .column
      .monthly-chart{data:{title:'Number of Episodes where Blood Loss Measured'}}
        .series{data:{field:'total_episodes', name:'Total Episodes', color:'#666'}}
        .series{data:{field:'episodes_measured', name:'... where blood loss measured '}}

    .column
      .monthly-chart{data:{title:'Proportion of Episodes where Blood Loss Measured'}}
        .series{data:{field:'proportion_episodes_measured', name:'% Episodes where blood loss measured '}}



  .two.column.row
    .column
      .monthly-chart{data:{title:'Number of Episodes with Blood Loss greater than...'}}
        .series{data:{field:'total_episodes', name:'Total Episodes', color:'#666'}}
        .series{data:{field:'pphs_gte_1500ml', name:'... where blood loss ≥ 1.5L ', color:'#b33'}}
        .series{data:{field:'pphs_gte_2500ml', name:'... where blood loss ≥ 2.5L ', color:'#d00'}}

    .column
      .monthly-chart{data:{title:'Blood Loss greater than ... per 1,000 maternities '}}
        .series{data:{field:'pphs_gte_1000ml_per_1000_maternities', name:'≥ 1.0L per 1,000', color:'#733'}}
        .series{data:{field:'pphs_gte_1500ml_per_1000_maternities', name:'≥ 1.5L per 1,000', color:'#b33'}}
        .series{data:{field:'pphs_gte_2500ml_per_1000_maternities', name:'≥ 2.5L per 1,000', color:'#d00'}}

  .two.column.row
    .column
      .monthly-chart{data:{title:'Number of Episodes with RBC use greater than...'}}
        .series{data:{field:'total_episodes', name:'Total Episodes', color:'#666'}}
        .series{data:{field:'episodes_gte_2rbc', name:'... where RBC use ≥ 2 units', color:'#b33'}}
        .series{data:{field:'episodes_gte_5rbc', name:'... where RBC use ≥ 5 units', color:'#d00'}}

    .column
      .monthly-chart{data:{title:'Proportion of Episodes with RBC use greater than...'}}
        .series{data:{field:'proportion_episodes_gte_2rbc', name:'... where RBC use ≥ 2 units', color:'#b33'}}
        .series{data:{field:'proportion_episodes_gte_5rbc', name:'... where RBC use ≥ 5 units', color:'#d00'}}


  .two.column.row
    .column
      .monthly-chart{data:{title:'Number of Episodes with Risk Assessment'}}
        .series{data:{field:'total_episodes', name:'Total Episodes', color:'#666'}}
        .series{data:{field:'episodes_with_risk_assessment', name:'... where Risk Assessment Completed'}}

    .column
      .monthly-chart{data:{title:'Proportion of Episodes with Risk Assessment'}}
        .series{data:{field:'proportion_with_risk_assessment', name:'... where Risk Assessment Completed'}}


  %h2 Blood product use
  .three.column.row
    .column
      .monthly-chart
        .series{data:{field:'red_blood_cell_transfused_in_units', name:'RBC (units)', color:'#b00'}}

    .column
      .monthly-chart
        .series{data:{field:'fresh_frozen_plasma_used_in_units', name:'FFP (units)', color:'#b00'}}

    .column
      .monthly-chart
        .series{data:{field:'fibrinogen_used_in_grams', name:'Fibrinogen (grams)', color:'#b00'}}

  .three.column.row
    .column
      .monthly-chart
        .series{data:{field:'cryoprecipitate_used_in_pools', name:'Cryoprecipitate (pools)', color:'#b00'}}

    .column
      .monthly-chart
        .series{data:{field:'recombinant_factor_viia_used_in_micrograms', name:'rFVIIa (mcg)', color:'#b00'}}
    
    .column
