- content_for :title, "Funnel Plots | "

%h1 Funnel Plots

.ui.grid
  .two.column.row
    .column

      %p Funnel plots are intended to help distinguish between random or 'common cause' variation, and variation that suggests meaningful 'special' differences between units.

      %p The darkred lines show the limits of expected variation. If all the units had similar rates of postpartum haemorrhage, use of red blood cells, and so on then, more than 99 times out of 100, they would fall between the outer, dark red limits. (The lighter red lines are slightly less forgiving.)

      %p There are many reasons for variation between units across Wales. Further context may be required to interpret these funnel plots.

      .ui.warning.message
        %p The plots are based only on the data in this database. The accuracy of the charts depends on the quality and completeness of this data. 

      .ui.warning.message
        %p Be aware that different plots have different scales!


    .column
      .funnel-plot{data:{numerator:'pphs_gte_1000ml', denominator:'total_maternities', pretty:{numerator:'PPHs ≥ 1.0L', denominator:'Maternities' }, rate:{min:0*1.05, max:175/1.05}}}      

  .two.column.row
    .column
      .funnel-plot{data:{numerator:'pphs_gte_1500ml', denominator:'total_maternities', pretty:{numerator:'PPHs ≥ 1.5L', denominator:'Maternities' }, rate:{min:0, max:80/1.05}}}

    .column
      .funnel-plot{data:{numerator:'pphs_gte_2500ml', denominator:'total_maternities', pretty:{numerator:'PPHs ≥ 2.5L', denominator:'Maternities' }, rate:{min:0, max:20/1.05}}}

  %h2 Red blood cell use
  .ui.message.warning
    %p In particular, be aware that units with missing blood product data will appear to have lower use. Units that appear higher in the plot may just be better at ensuring that their data is up-to-date! 

  .two.column.row
    .column
      .funnel-plot{data:{numerator:'episodes_gte_2rbc', denominator:'total_maternities', pretty:{numerator:'RBC ≥ 2 units', denominator:'Maternities' }, rate:{min:0, max:40/1.05}}}

    .column
      .funnel-plot{data:{numerator:'episodes_gte_5rbc', denominator:'total_maternities', pretty:{numerator:'RBC ≥ 5 units', denominator:'Maternities' }, rate:{min:0, max:12.5/1.05} }}
