.ui.cards
  
  - if can? :read, PPHEpisode
    %a.ui.card{href:pph_episodes_url}
      .content
        %h2.ui.header Individual-level data

        %p
          Enter information on the management and outcomes of episodes meeting any of the following criteria:
          %ul
            %li &ge; 1000 mL of blood lost
            %li Any blood products given (within 1 week of delivery)
            %li Any ROTEM was performed
            %li Woman transferred to ITU
            %li Woman underwent a hysterectomy
            %li Woman died


  - if can? :create, MonthlyStatsUpdate
    %a.ui.card{href:monthly_stats_updates_url}
      .content
        %h2.ui.header Monthly statistics
        %p Enter monthly numbers of maternities and deliveries.

        .monthly-chart
          .series{data:{field:'total_maternities', name:'No. of Maternities', color:'#666'}}


  - if @bulletin
    %a.ui.card.red{href:bulletin_url(@bulletin)}
      .content
        %h2.ui.header= @bulletin.title
        %p
          %time{data:{type:'datetime'}}= @bulletin.post_at.iso8601

        %p= truncate(strip_tags(@bulletin.html), length:200)


  - if can? :read, MonthlyStatsUpdate
    %a.ui.card{href:'/charts'}
      .content
        %h2.ui.header Run Charts
        %p View monthly charts of the data, including process and outcome measures.

        .monthly-chart
          .series{data:{field:'total_episodes', name:'No. of Episodes', color:'#666'}}

  - if can? :read, MonthlyStatsUpdate
    %a.ui.card{href:'/funnel'}
      .content
        %h2.ui.header Funnel Plots
        %p View variation across Wales.

        .funnel-plot{data:{numerator:'pphs_gte_1500ml', denominator:'total_maternities', pretty:{numerator:'PPHs ≥ 1.5L', denominator:'Maternities' }}}

  - if can? :read, PPHEpisode
    %a.ui.card{href:pph_episodes_url(format:'xlsx')}
      .content
        %h2.ui.header Download data
        %p Download Individual-level data in Excel format, including ROTEM, blood gas and lab test results.
