= form_for episode, url: {action: episode.new_record? ? 'create' : 'update', id:episode.id},  html: {class: "ui form #{'error' if episode.any_errors?} pph_episode_form", data:{'parsley-validate': true, 'parsley-ui-enabled': false}, autocomplete:'off'} do |form|

  - if episode.errors.any?
    .ui.error.message
      .header Errors
      - episode.errors.full_messages.each do |msg|
        %p= msg


  - if current_user.maternity_unit_id == 999
    .two.fields
      .field
        %label{for:'maternity_unit_id'} Maternity Unit
        %select.ui.dropdown.search#pph_episode_maternity_unit_id{name:'pph_episode[maternity_unit_id]'}
          %option{value:''} MaternityUnit
          - MaternityUnit.where.not(id:999).all.each do |mu|
            %option{value:mu.id, selected:(episode.maternity_unit_id == mu.id)}= mu.name

  .three.fields
  
    .field
      %label{for:'pph_episode_local_identifier'} Local Identifier
      = form.text_field :local_identifier, class:'identifier ui input', data: {}

    .field
      %label{for:'pph_episode_delivered_at'} Delivered at
      = form.text_field :delivered_at, data: {type:'datetime'}, class:'ui input', value:(episode.delivered_at ? episode.delivered_at.iso8601 : nil)

    .field{data:{pre_201904_only:true}}
      %label{for:'pph_episode_discharged_at'} Discharged at
      = form.text_field :discharged_at, data: {type:'datetime'}, class:'ui input', value:(episode.discharged_at ? episode.discharged_at.iso8601 : nil)


  .three.fields

    .field{data:{pre_201904_only:true}}
      %label{for:'pph_episode_number_of_deliveries'} Number of deliveries this pregnancy
      = form.text_field :number_of_deliveries, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'number_of_deliveries')

    .field
      %label{for:'pph_episode_type_of_delivery'} Type of Delivery
      %select.ui.dropdown.search#pph_episode_type_of_delivery{name:'pph_episode[type_of_delivery]'}
        %option{value:''} Type of Delivery
        - PPHEpisode::CHOICE_OF_DELIVERY_TYPE.each do |choice|
          %option{value:choice, selected:(episode.type_of_delivery == choice)}= choice
      %p.ui.pointing.label If multiple, pick the most traumatic delivery method.


    .field
      %label{for:'pph_episode_location_of_delivery'} Location of Delivery
      %select.ui.dropdown.search#pph_episode_location_of_delivery{name:'pph_episode[location_of_delivery]'}
        %option{value:''} Location of Delivery
        - PPHEpisode::CHOICE_OF_DELIVERY_LOCATION.each do |choice|
          %option{value:choice, selected:(episode.location_of_delivery == choice)}= choice

  %h2 Blood loss

  .two.fields

    .field
      %label{for:'pph_episode_blood_loss_in_millilitres'} Blood loss
      .ui.right.labeled.input
        = form.text_field :blood_loss_in_millilitres, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'blood_loss_in_millilitres')
        .ui.basic.label
          %abbr{title:'millilitres'} ml


    .field
      %label{for:'pph_episode_blood_loss_estimated_or_measured'} Estimated or Measured?
      %select.ui.dropdown.search#pph_episode_blood_loss_estimated_or_measured{name:'pph_episode[blood_loss_estimated_or_measured]'}
        %option{value:''} Estimated or Measured?
        - PPHEpisode::CHOICE_OF_ESTIMATED_MEASURED.each do |choice|
          %option{value:choice, selected:(episode.blood_loss_estimated_or_measured == choice)}= choice


  .section
    %h2 Critical care

    .two.fields

      .field{data:{high_interest_only:true, pre_201904_only:true}}
        %label{for:'pph_episode_woman_received_level_2_hdu_care'} Woman received Level 2 (HDU) care?
        %select.ui.dropdown.search#pph_episode_woman_received_level_2_hdu_care{name:'pph_episode[woman_received_level_2_hdu_care]'}
          %option{value:''} Woman received Level 2 (HDU) care?
          - PPHEpisode::CHOICE_OF_YES_UNRELATED_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.woman_received_level_2_hdu_care == choice)}= choice

    .two.fields
      .field
        %label{for:'pph_episode_woman_received_level_2_hdu_care_outside_of_delivery_unit'} Woman received any Level 2 (HDU) care outside of the Delivery Unit?
        %select.ui.dropdown.search#pph_episode_woman_received_level_2_hdu_care_outside_of_delivery_unit{name:'pph_episode[woman_received_level_2_hdu_care_outside_of_delivery_unit]'}
          %option{value:''} Woman received any Level 2 (HDU) care outside of the Delivery Unit?
          - PPHEpisode::CHOICE_OF_YES_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.woman_received_level_2_hdu_care_outside_of_delivery_unit == choice)}= choice

      .field{data:{pre_201904_only:true}}
        %label{for:'pph_episode_hours_of_level_2_hdu_care'} Hours of Level 2 (HDU) care
        .ui.right.labeled.input
          = form.text_field :hours_of_level_2_hdu_care, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'hours_of_level_2_hdu_care')
          .ui.basic.label hours


    .two.fields

      .field
        %label{for:'pph_episode_woman_received_level_3_icu_care'} Woman received Level 3 (ICU) care?
        %select.ui.dropdown.search#pph_episode_woman_received_level_3_icu_care{name:'pph_episode[woman_received_level_3_icu_care]'}
          %option{value:''} Woman received Level 3 (ICU) care?
          - PPHEpisode::CHOICE_OF_YES_UNRELATED_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.woman_received_level_3_icu_care == choice)}= choice

      .field{data:{pre_201904_only:true}}
        %label{for:'pph_episode_hours_of_level_3_icu_care'} Hours of Level 3 (ICU) care
        .ui.right.labeled.input
          = form.text_field :hours_of_level_3_icu_care, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'hours_of_level_3_icu_care')
          .ui.basic.label hours

  %h2 Outcomes

  .two.fields

    .field
      %label{for:'pph_episode_woman_underwent_hysterectomy'} Woman underwent Hysterectomy?
      %select.ui.dropdown.search#pph_episode_woman_underwent_hysterectomy{name:'pph_episode[woman_underwent_hysterectomy]'}
        %option{value:''} Woman underwent Hysterectomy?
        - PPHEpisode::CHOICE_OF_YES_UNRELATED_NO_UNKNOWN.each do |choice|
          %option{value:choice, selected:(episode.woman_underwent_hysterectomy == choice)}= choice

    .field
      %label{for:'pph_episode_woman_died'} Woman died?
      %select.ui.dropdown.search#pph_episode_woman_died{name:'pph_episode[woman_died]'}
        %option{value:''} Woman died?
        - PPHEpisode::CHOICE_OF_YES_UNRELATED_NO_UNKNOWN.each do |choice|
          %option{value:choice, selected:(episode.woman_died == choice)}= choice

  .section{data:{pre_201904_only:true}}
    %h2 ROTEM results

    .field
      .ui.checkbox
        = form.check_box 'confirm_no_rotems'
        %label{for:'pph_episode_confirm_no_rotems'} No ROTEMs were performed

    - rtrs = episode.rotem_results.sort_by { |rtr| rtr.available_at ? rtr.available_at : 0 }

    - if rtrs.any? { |rtr| rtr.errors.any? }
      .ui.error.message
        .header Errors
        - rtrs.map{ |rtr| rtr.errors.full_messages}.flatten.each do |msg|
          %p= msg

    %table.ui.table.celled.extending.unstackable
      %col.datetime
      %thead
        %tr
          %th Time result available
          %th
            FIBTEM A5 (
            %abbr{title:'millimetres'} mm
            )
          %th
            EXTEM CT (
            %abbr{title:'seconds'} secs
            )
      %tbody
        - (0..([9, rtrs.count].max)).each do |ri|
          - rtr = ( rtrs[ri] ? rtrs[ri] : episode.rotem_results.build )
          %tr
            %td
              %input.ui.input{name:"rotem_results[#{ri}][available_at]", value:(rtr.available_at ? rtr.available_at.iso8601 : nil), data: {type:'datetime'}}
            %td
              %input.ui.input{name:"rotem_results[#{ri}][fibtem_a5_in_millimetres]", value:rtr.fibtem_a5_in_millimetres, data: parsley_properties_for_field(ROTEMResult, 'fibtem_a5_in_millimetres')}
            %td
              %input.ui.input{name:"rotem_results[#{ri}][extem_ct_in_seconds]", value:rtr.extem_ct_in_seconds, data: parsley_properties_for_field(ROTEMResult, 'extem_ct_in_seconds')}




  .section.blood-products
    %h2 Products used

    %p Please enter '0' if no product was given.

    .three.fields

      .field
        %label{for:'pph_episode_red_blood_cell_transfused_in_units'} 
          %abbr{title:'Red Blood Cell transfusion'} RBC
        .ui.right.labeled.input
          = form.text_field :red_blood_cell_transfused_in_units, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'red_blood_cell_transfused_in_units')
          .ui.basic.label Units
      
      .field
        %label{for:'pph_episode_fibrinogen_used_in_grams'} Fibrinogen concentrate
        .ui.right.labeled.input
          = form.text_field :fibrinogen_used_in_grams, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'fibrinogen_used_in_grams')
          .ui.basic.label grams

      .field
        %label{for:'pph_episode_cryoprecipitate_used_in_pools'} Cryoprecipitate
        .ui.right.labeled.input
          = form.text_field :cryoprecipitate_used_in_pools, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'cryoprecipitate_used_in_pools')
          .ui.basic.label pools

    .three.fields


      .field
        %label{for:'pph_episode_fresh_frozen_plasma_used_in_units'} Fresh Frozen Plasma
        .ui.right.labeled.input
          = form.text_field :fresh_frozen_plasma_used_in_units, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'fresh_frozen_plasma_used_in_units')
          .ui.basic.label Units

      .field
        %label{for:'pph_episode_platelets_used_in_units'} Platelets
        .ui.right.labeled.input
          = form.text_field :platelets_used_in_units, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'platelets_used_in_units')
          .ui.basic.label Units

      .field
        %label{for:'pph_episode_recombinant_factor_viia_used_in_micrograms'} 
          %abbr{title:'Recombinant factor VIIa'} rFVIIa
        .ui.right.labeled.input
          = form.text_field :recombinant_factor_viia_used_in_micrograms, class:'ui input', data: parsley_properties_for_field(PPHEpisode, 'recombinant_factor_viia_used_in_micrograms')
          .ui.basic.label
            %abbr{title:'micrograms'} mcg


  -# >= 1500mL only?

  .section{data:{high_interest_only:true, pre_201904_only:true}}
    %h2 Cause of Bleed


    %p 
      Please select
      %b at least one
      cause of bleed
      (or reason ROTEM performed):

    .four.fields
      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_uterine_atony'
          %label{for:'pph_episode_cause_of_bleed_uterine_atony'} Uterine atony
      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_surgical'
          %label{for:'pph_episode_cause_of_bleed_surgical'} Surgical

      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_placenta_praevia'
          %label{for:'pph_episode_cause_of_bleed_placenta_praevia'} Placenta praevia

      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_amniotic_fluid_embolism'
          %label{for:'pph_episode_cause_of_bleed_amniotic_fluid_embolism'} Amniotic fluid embolism


    .four.fields
      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_uterine_rupture'
          %label{for:'pph_episode_cause_of_bleed_uterine_rupture'} Uterine rupture

      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_genital_tract_trauma'
          %label{for:'pph_episode_cause_of_bleed_genital_tract_trauma'} Genital tract trauma


      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_placenta_ac_increta'
          %label{for:'pph_episode_cause_of_bleed_placenta_ac_increta'} Placenta accreta/increta

      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_retained_products'
          %label{for:'pph_episode_cause_of_bleed_retained_products'}
            %abbr{title:'Retained products of conception'} RPOC
            (including placenta)


    .four.fields
      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_uterine_inversion'
          %label{for:'pph_episode_cause_of_bleed_uterine_inversion'} Uterine inversion

      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_abruption'
          %label{for:'pph_episode_cause_of_bleed_abruption'} Abruption
 
      .field
        .ui.checkbox
          = form.check_box 'cause_of_bleed_extragenital_bleed'
          %label{for:'pph_episode_cause_of_bleed_extragenital_bleed'} Bleeding outside of genital tract


    .field
      .ui.checkbox
        = form.check_box 'cause_of_bleed_no_cause_trigger_not_reached'
        %label{for:'pph_episode_cause_of_bleed_no_cause_trigger_not_reached'} No cause - 1000mL trigger not reached

  .section{data:{high_interest_only:true, pre_201904_only:true}}

    %h2 Surgery & Interventional Radiology

    %p Were the following surgical interventions performed?

    .three.fields

      .field
        %label{for:'pph_episode_haemostatic_uterine_suture_performed'} Uterine Brace Suture
        %select.ui.dropdown.search#pph_episode_haemostatic_uterine_suture_performed{name:'pph_episode[haemostatic_uterine_suture_performed]'}
          %option{value:''} UBS performed?
          - PPHEpisode::CHOICE_OF_YES_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.haemostatic_uterine_suture_performed == choice)}= choice

      .field
        %label{for:'pph_episode_bakri_balloon_performed'} Bakri Balloon
        %select.ui.dropdown.search#pph_episode_bakri_balloon_performed{name:'pph_episode[bakri_balloon_performed]'}
          %option{value:''} Bakri balloon performed?
          - PPHEpisode::CHOICE_OF_YES_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.bakri_balloon_performed == choice)}= choice

      .field
        %label{for:'pph_episode_internal_iliac_artery_ligation_performed'} Internal Iliac Artery Ligation
        %select.ui.dropdown.search#pph_episode_internal_iliac_artery_ligation_performed{name:'pph_episode[internal_iliac_artery_ligation_performed]'}
          %option{value:''} IIAL performed?
          - PPHEpisode::CHOICE_OF_YES_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.internal_iliac_artery_ligation_performed == choice)}= choice

    .two.fields
      .field
        %label{for:'pph_episode_interventional_radiology_involved'} Were interventional radiology services involved in this case?
        %select.ui.dropdown.search#pph_episode_interventional_radiology_involved{name:'pph_episode[interventional_radiology_involved]'}
          %option{value:''} Interventional radiology involved?
          - PPHEpisode::CHOICE_OF_INTERVENTIONAL_RADIOLOGY_INVOLVED.each do |choice|
            %option{value:choice, selected:(episode.interventional_radiology_involved == choice)}= choice

  .section.four-stage{data:{pre_201904_only:true}}
    %h2 Four Stage Paperwork

    .two.fields
      .field
        %label{for:'pph_episode_risk_assessment_completed'} Risk Assessment (stage 0) completed?
        %select.ui.dropdown.search#pph_episode_risk_assessment_completed{name:'pph_episode[risk_assessment_completed]'}
          %option{value:''}Risk Assessment (stage 0) completed?
          - PPHEpisode::CHOICE_OF_YES_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.risk_assessment_completed == choice)}= choice

      .field
        %label{for:'pph_episode_four_stage_paperwork_used'} Four stage paperwork used?
        %select.ui.dropdown.search#pph_episode_four_stage_paperwork_used{name:'pph_episode[four_stage_paperwork_used]'}
          %option{value:''} Four stage paperwork used?
          - PPHEpisode::CHOICE_OF_YES_NO_UNKNOWN.each do |choice|
            %option{value:choice, selected:(episode.four_stage_paperwork_used == choice)}= choice


  -# Advice here about coagulation and full blood count results



  .section{data:{high_interest_only:true, pre_201904_only:true}}

    %h2 Blood results

    - brs = episode.blood_results.sort_by { |br| br.result_at ? br.result_at : 0 }

    - if brs.any? { |br| br.errors.any? }
      .ui.error.message
        .header Errors
        - brs.map{ |br| br.errors.full_messages}.flatten.each do |msg|
          %p= msg


    %p Please provide coagulation results (aPTT, PT, Fibrinogen) where blood loss was &ge;1500mL.
    %p 
      Please also provide three full (including Hb and Platelets) blood count results where blood loss was &ge;2500mL - 
      %br
      1) pre-delivery, 2) at the time of the first ROTEM, and 3) on discharge from hospital.

    %p
      Please
      %em do not
      provide Haemoglobin results from blood gas analyses, only from full blood count lab test results.

    %table.ui.table.celled.extending.unstackable
      %col.datetime
      %thead
        %tr
          %th Result at

          %th
            %abbr{title:'Activated partial thromboplastin time in seconds'} aPTT (secs)
          %th
            %abbr{title:'Prothrombin time in seconds'} PT (secs)
          %th
            Fibrinogen (
            %abbr{title:'grams per litre'} g/L
            )

          %th
            Haemoglobin (
            %abbr{title:'grams per litre'} g/L
            )

          %th
            Platelets ( 
            %abbr{title:'thousand millions per litre'}
              ×10
              %sup 9
              \/L
            )

      %tbody
        - (0..([9, brs.count].max)).each do |bi|
          - br = ( brs[bi] ? brs[bi] : episode.blood_results.build )
          %tr
            %td
              %input.ui.input{name:"blood_results[#{bi}][result_at]", value:(br.result_at ? br.result_at.iso8601 : nil), data: {type:'datetime'}}

            %td
              %input.ui.input{name:"blood_results[#{bi}][activated_partial_thromboplastin_time_in_seconds]", value:br.activated_partial_thromboplastin_time_in_seconds, data: parsley_properties_for_field(BloodResult, 'activated_partial_thromboplastin_time_in_seconds')}
            %td
              %input.ui.input{name:"blood_results[#{bi}][prothrombin_time_in_seconds]", value:br.prothrombin_time_in_seconds, data: parsley_properties_for_field(BloodResult, 'prothrombin_time_in_seconds')}
            %td
              %input.ui.input{name:"blood_results[#{bi}][fibrinogen_in_grams_per_litre]", value:br.fibrinogen_in_grams_per_litre, data: parsley_properties_for_field(BloodResult, 'fibrinogen_in_grams_per_litre')}


            %td
              %input.ui.input{name:"blood_results[#{bi}][haemoglobin_in_grams_per_litre]", value: br.haemoglobin_in_grams_per_litre, data: parsley_properties_for_field(BloodResult, 'haemoglobin_in_grams_per_litre')}

            %td
              %input.ui.input{name:"blood_results[#{bi}][platelets_in_thousand_millions_per_litre]", value:br.platelets_in_thousand_millions_per_litre, data: parsley_properties_for_field(BloodResult, 'platelets_in_thousand_millions_per_litre')}


  .section{data:{ukoss_lmpf_case_only:true}}
    .ui.message
      %p
        This episode meets the case definition for the 
        %a{href:'https://www.npeu.ox.ac.uk/ukoss/current-surveillance/low-maternal-plasma-fibrinogen', target:'_blank', rel:'noopener noreferrer' }
          UKOSS Low Maternal Plasma Fibrinogen
        surveillance.
        %br
        (Between 1st Nov 2017 and 31st Oct 2018, and fibrinogen <2g/L or FIBTEM <10 mm.)

  .ui.center.aligned.basic.segment
    %button.ui.button.positive{type:'submit'} 
      %i.save.icon
      Save episode
