- content_for :title, "#{@pph_episode.local_identifier} | "

%h1.ui.header Edit PPH Episode

= render partial:'form', locals:{episode:@pph_episode}

- if can? :destroy, @pph_episode
  .ui.horizontal.divider
    Delete this episode

  .ui.grid.container.centered
    .ui.column.six.wide
      = form_for @pph_episode, url: {action: 'destroy'},  method:'delete',  html: {class:'ui form', autocomplete:'off'} do |form|
        .field
          %label Local Identifier
          %input.ui.input.identifier{name:'pph_episode[local_identifier_for_destroy]', value:'', placeholder:@pph_episode.local_identifier}
        %p
          Enter the local identifier to delete this episode. 
          %br
          You will not be able to undo this.
        %button.ui.button.negative{type:'submit'} 
          %i.trash.icon
          Delete this episode for
          %span.identifier= @pph_episode.local_identifier
