- content_for :title, "PPH Episodes | "

%table.ui.celled.striped.table.selectable.unstackable
  %thead
    %tr

      - if current_user.maternity_unit_id == 999
        %th Unit

      %th Identifier
      %th Delivered at
      %th Discharged at
      %th Blood results
      %th ROTEMs
      %th Missing information
      %th Triggers

  %tbody

    - if params['local_identifier']
      %tr
        %td{colspan:8}
          %a.ui.button{href:pph_episodes_url} Return to all Episodes
          Episodes were found with the identifier
          %span.identifier= params['local_identifier']
          \.            

    - else
      %tr
        %td{colspan:3, rowspan:2} 
          = form_tag({controller: 'pph_episodes', action: 'new_or_find'}, method: 'get', role: 'form', class:'ui form', autocomplete:'off') do
            .ui.action.input
              = text_field_tag(:local_identifier,"", class:'identifier', autofocus:true, placeholder:'Identifier')
              %button.ui.button{type:'submit'} 
                Add New Episode…
        %td{colspan:5, rowspan:2}
          = form_tag({controller: 'pph_episodes', action: 'index'}, method: 'get', role: 'form', id:'pph_episodes_filter', class:'ui form', autocomplete:'off') do
            %select.ui.dropdown#reverse{name:'reverse'}
              %option{value:'false'} Most recent deliveries shown first
              %option{value:'true', selected:(@options[:reverse] == 'true')} Earliest deliveries shown first

            %select.ui.dropdown#missing_only{name:'missing_only'}
              %option{value:'false'} With and without missing data
              %option{value:'true', selected:(@options[:missing_only] == 'true')} Only episodes missing data

            %select.ui.dropdown#possible_duplicates_only{name:'possible_duplicates_only'}
              %option{value:'false'} Possible duplicates or not
              %option{value:'true', selected:(@options[:possible_duplicates_only] == 'true')} Only possible duplicates

            %select.ui.dropdown#hysterectomy_or_death_only{name:'hysterectomy_or_death_only'}
              %option{value:'false'} Ending in death or not
              %option{value:'true', selected:(@options[:hysterectomy_or_death_only] == 'true')} Only episodes ending in death or hysterectomy

            %select.ui.dropdown#with_blood_products_only{name:'with_blood_products_only'}
              %option{value:'false'} With and without blood products
              %option{value:'true', selected:(@options[:with_blood_products_only] == 'true')} Only episodes with blood products use



            %button.ui.button{type:'submit'} 
              %i.filter.icon
        %tr

    - @pph_episodes.each do |episode|
      %tr{class:('negative' if episode.incomplete_sections.any?), data:{href:edit_pph_episode_url(episode)}}

        - if current_user.maternity_unit_id == 999
          %td= episode.maternity_unit.name

        %td
          %a.identifier{href:edit_pph_episode_url(episode)}= episode.local_identifier
        %td
          %time{data:{type:'datetime'}}= episode.delivered_at.iso8601
        %td
          - if episode.discharged_at
            %time{data:{type:'datetime'}}= episode.discharged_at.iso8601
        %td= episode.blood_results.any? ? episode.blood_results.length : 'None'
        %td= episode.rotem_results.any? ? episode.rotem_results.length : 'None'        
        %td
          = episode.incomplete_sections[0..2].map {|s| s.to_s.humanize}.join(', ') + (episode.incomplete_sections.count > 3 ? ', …' : '')
        %td
          = episode.triggers[0..2].map {|s| s.to_s.humanize}.join(', ') + (episode.triggers.count > 3 ? ', …' : '')

    - if params['local_identifier']
      %tr.warning
        %td{colspan:8}
          %a.ui.right.floated.button.orange{href:new_pph_episode_url(local_identifier:params['local_identifier'])}
            Add New Episode for
            %span.identifier= params['local_identifier']
          %p
            %i.attention.icon
            Existing episodes were found with the identifier 
            %span.identifier= params['local_identifier']
            \.            
            %br
            %strong Check for duplicates above before adding a new episode!


- if @pph_episodes.respond_to? :total_pages
  = paginate @pph_episodes
