.ui.middle.aligned.center.aligned.grid
  .column.login-container
    %h1.ui.header
      %img.logo{src: image_url('obscymru.jpg'), alt:'OBSCymru'}

    /[if lte IE 9]
      .ui.warning.message
        %p 
          Internet Explorer 9 or earlier 
          %br
          (which you seem to be using)
          %br
          %strong does not work well 
          with this site.
        %p
          If possible, and permitted by your local IT policy, 
          %br
          please try to use either Internet Explorer 10 or later, 
          %br
          or a recent version of Mozilla Firefox or Google Chrome.
        %p
          To contact your local IT service desk, please see
          %a{href:'http://nww.nationalservicedesk.wales.nhs.uk/local-service-desk-information'} http://nww.nationalservicedesk.wales.nhs.uk/local-service-desk-information
          \.

    = form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:'ui large form'}) do |f|
      .ui.stacked.segment
        .field
          .ui.left.icon.input
            %i.user.icon
            = f.email_field :email, autofocus: true, placeholder:'Email address'

        .field
          .ui.left.icon.input
            %i.lock.icon
            = f.password_field :password, autocomplete: 'off', placeholder:'Password'

        = f.submit 'Login', class:'ui fluid large submit button'


    %div.supported-by
      %p Supported by
      %ul
        %li
          %a{href:'http://www.1000livesplus.wales.nhs.uk/'}
            %img{src: image_url('1000lives.png'), alt:'1000 Lives'}
        %li
          %a{href:'http://www.1000livesplus.wales.nhs.uk/maternity-network-wales'} Maternity Network Wales
        
    
    %p
      Visit
      %a{href:'http://www.1000livesplus.wales.nhs.uk/obs-cymru'}the OBS Cymru website
      %br
      for more information about the project.
