= form_for msu, url: {action: msu.new_record? ? 'create' : 'update'},  html: {class: "ui form #{'error' if msu.errors.any?}", data:{'parsley-validate': true, 'parsley-ui-enabled': false}, autocomplete:'off'} do |form|

  - if msu.errors.any?
    .ui.error.message
      .header Errors
      - msu.errors.full_messages.each do |msg|
        %p= msg

  .field
    %label Month
    = form.date_field :month, data: {type:'month'}, class:'ui input'

  %p 'Maternities' are the number of women giving birth (including still births). 'Deliveries' are the number of births (including still births).

  .two.fields
    .field
      %label Obstetric-led Maternities
      = form.text_field :obstetric_led_maternities, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'obstetric_led_maternities')

    .field
      %label Obstetric-led Deliveries
      = form.text_field :obstetric_led_deliveries, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'obstetric_led_deliveries')

  .two.fields
    .field
      %label Alongside Midwifery-led Maternities
      = form.text_field :alongside_midwifery_led_maternities, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'alongside_midwifery_led_maternities')

    .field
      %label Alongside Midwifery-led Deliveries
      = form.text_field :alongside_midwifery_led_deliveries, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'alongside_midwifery_led_deliveries')

  .two.fields
    .field
      %label Freestanding Midwifery-led Maternities
      = form.text_field :freestanding_midwifery_led_maternities, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'freestanding_midwifery_led_deliveries')

    .field
      %label Freestanding Midwifery-led Deliveries
      = form.text_field :freestanding_midwifery_led_deliveries, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'freestanding_midwifery_led_deliveries')

  .two.fields
    .field
      %label Home Maternities
      = form.text_field :home_maternities, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'home_maternities')

    .field
      %label Home Deliveries
      = form.text_field :home_deliveries, class:'ui input', data: parsley_properties_for_field(MonthlyStatsUpdate, 'home_deliveries')


  .ui.center.aligned.basic.segment
    %button.ui.button.positive{type:'submit'} 
      %i.save.icon
      Save Monthly Stats
