- content_for :title, "Monthly Stats Updates | "

-#.monthly-chart{data:{title:'Number of Maternities'}}
  -#.series{data:{field:'obstetric_led_maternities', name:'Obstetric-led'}}
  -#.series{data:{field:'alongside_midwifery_led_maternities', name:'Alongside Midwifery-led'}}
  -#.series{data:{field:'freestanding_midwifery_led_maternities', name:'Freestanding Midwifery-led'}}
  -#.series{data:{field:'home_maternities', name:'Home'}}


%table.ui.celled.striped.table.selectable.unstackable
  %thead

    %tr
      %th 
      %th{colspan:3} Obstetric-led 
      %th{colspan:3} Alongside Midwifery-led 
      %th{colspan:3} Freestanding Midwifery-led 
      %th{colspan:3} Home

    %tr
      %th Month
      %th Maternities
      %th Deliveries
      %th Episodes

      %th Maternities
      %th Deliveries
      %th Episodes

      %th Maternities
      %th Deliveries
      %th Episodes

      %th Maternities
      %th Deliveries
      %th Episodes

  %tbody
    - @monthly_stats_updates.each do |update|

      - if update.new_record?
        %tr{data:{href:new_monthly_stats_update_url(month:update.month)}}
          %td
            %a{href:new_monthly_stats_update_url(month:update.month)}
              %time{data:{type:'month'}}= update.month.iso8601

          %td -
          %td -
          %td= update.pph_episodes.where(location_of_delivery:'Consultant-led Unit').count

          %td -
          %td -
          %td= update.pph_episodes.where(location_of_delivery:'Alongside Midwifery-led Unit').count

          %td -
          %td -
          %td= update.pph_episodes.where(location_of_delivery:'Freestanding Midwifery-led Unit').count

          %td -
          %td -
          %td= update.pph_episodes.where(location_of_delivery:'Home').count

      - else
        %tr{data:{href:edit_monthly_stats_update_url(update)}}
          %td
            %a{href:edit_monthly_stats_update_url(update)}
              %time{data:{type:'month'}}= update.month.iso8601

          %td= number_with_delimiter(update.obstetric_led_maternities)
          %td= number_with_delimiter(update.obstetric_led_deliveries)
          %td= update.pph_episodes.where(location_of_delivery:'Consultant-led Unit').count

          %td= number_with_delimiter(update.alongside_midwifery_led_maternities)
          %td= number_with_delimiter(update.alongside_midwifery_led_deliveries)
          %td= update.pph_episodes.where(location_of_delivery:'Alongside Midwifery-led Unit').count

          %td= number_with_delimiter(update.freestanding_midwifery_led_maternities)
          %td= number_with_delimiter(update.freestanding_midwifery_led_deliveries)
          %td= update.pph_episodes.where(location_of_delivery:'Freestanding Midwifery-led Unit').count

          %td= number_with_delimiter(update.home_maternities)
          %td= number_with_delimiter(update.home_deliveries)
          %td= update.pph_episodes.where(location_of_delivery:'Home').count
