/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$obs-green-color: rgb(  0, 171, 57);
$obs-red-color:   rgb(205,  30, 23);

.obscymru {
  text-transform: uppercase;

  .obs-green {
    color: desaturate($obs-green-color, 33%);
  }

  .obs-red {
    color: desaturate($obs-red-color, 33%);
  }

}

.ui.header {
  .logo {
    max-width:15em;
    width:100%;
  }
}

.supported-by {
  padding: 1em;

  p {
    margin:0;
  }

  ul {
    margin:0;

    li{
      list-style: none;
      font-size: 1.5em;
      padding-bottom: 0.2em;

      img {
        height: 1.5em;
      }
    }
  }
}

$font-url: '';

@import "semantic-ui";

.main.container {
  margin-top:7em;
}

.ui.footer.segment{
  margin: 5em 0em 0em;
  padding: 5em 0em; 
}

.login-container{
  max-width: 450px;
}

col.datetime{
  min-width: 11em;
}

input:-ms-input-placeholder{
  color: #999 !important;
}

td input#local_identifier{
  max-width: 12em;
}

.monthly-chart{
  height: 24em;

  .highcharts-credits{
    font-size: 11px; 
  }

  .highcharts-axis-labels{
    font-size: 12px;
  }

}

.funnel-plot{
  height: 28em;

  .highcharts-credits{
    font-size: 11px; 
  }

  .highcharts-axis-labels{
    font-size: 12px;
  }

}

.ui.card .monthly-chart{
  height: 14em;

  .highcharts-title{
    font-size: 12px !important;
  }

  .highcharts-credits{
    font-size: 9px;
  }

  .highcharts-axis-labels{
    font-size: 0.9em;
  }

}

.ui.card .funnel-plot{
  height: 18em;

  .highcharts-title{
    font-size: 12px !important;
  }

  text.highcharts-axis-title{
    display:none;
  }

  .highcharts-credits{
    font-size: 9px;
  }

  .highcharts-axis-labels{
    font-size: 0.9em;
  }

}