@font-face {
  font-family: 'DejaVu Sans Mono';
  src: font-url('DejaVuSansMono-webfont.eot');
  src: font-url('DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('DejaVuSansMono-webfont.woff') format('woff'),
       font-url('DejaVuSansMono-webfont.ttf') format('truetype'),
       font-url('DejaVuSansMono-webfont.svg#webfont') format('svg');
}

.identifier, input.identifier{
  font-family: "DejaVu Sans Mono", "Menlo", "Panic Sans", "Vera Sans Mono", "Lucida Console", monospace !important;
  font-weight: normal;
  white-space:  pre;
}
