@font-face{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: font-url('LatoLatin-Regular.eot');
  src: font-url('LatoLatin-Regular.woff2') format('woff2'),
       font-url('LatoLatin-Regular.woff') format('woff'),
       font-url('LatoLatin-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: font-url('LatoLatin-Bold.woff2') format('woff2'),
       font-url('LatoLatin-Bold.woff') format('woff'),
       font-url('LatoLatin-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: font-url('LatoLatin-Italic.woff2') format('woff2'),
       font-url('LatoLatin-Italic.woff') format('woff'),
       font-url('LatoLatin-Italic.ttf') format('truetype');
}

@font-face{
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: font-url('LatoLatin-BoldItalic.woff2') format('woff2'),
       font-url('LatoLatin-BoldItalic.woff') format('woff'),
       font-url('LatoLatin-BoldItalic.ttf') format('truetype');
}