// Place all the styles related to the PPHEpisodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pph_episodes_filter .ui.dropdown{
  min-width:45%;	
}

.section{
	padding-top: 1.5rem;
}

.section[data-ukoss-lmpf-case-only] > *{
  display: none;
}

.pph_episode_form.post-201904{
  [data-pre-201904-only] > * {
    display: none !important;
  }
}

.pph_episode_form.low-interest{
  [data-high-interest-only] > * {
    display: none !important;
  }
}