input.ui.input.warning{
  background-color: #FFFDDB !important;
}

.warning-interrobang{
  position: relative;
  margin-top: -2em;
  display: block;
  float: right;
  margin-right: 2em;
  color: #A39071;
}