!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

-# <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="" lang="en"> <!--<![endif]-->

%html{:lang => "en"}

  %head

    -# ==========================================================================
    -# Head
    -# ==========================================================================

    %meta{:charset => "utf-8"}

    %title
      = yield :title
      OBS Cymru
    %meta{:name => "description", :content => ""}

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "turbolinks-cache-control", :content => "no-preview"}

    = stylesheet_link_tag 'application', media: 'all', data:{'turbolinks-track':true}

    = javascript_include_tag 'application', data:{'turbolinks-track':true}

    = csrf_meta_tags

  %body
    
    - if user_signed_in?
      .ui.fixed.menu
        .ui.container
          %a.header.item{href:'/'}
            %span.obscymru
              %span.obs-green Obs
              %span.obs-red> Cymru
            - if user_signed_in?
              \ -
              = current_user.maternity_unit.name

          - if can? :read, PPHEpisode
            %a.item{href:pph_episodes_url} Individual-level data

          - if can? :create, MonthlyStatsUpdate
            %a.item{href:monthly_stats_updates_url} Monthly statistics

          - if can? :read, MonthlyStatsUpdate
            %a.item{href:'/charts'} Run Charts

          - if can? :read, MonthlyStatsUpdate
            %a.item{href:'/funnel'} Funnel Plots

          - if can? :read, Bulletin
            %a.item{href:bulletins_url} Bulletins

          .right.menu
            - if user_signed_in?
              %a.item{href:destroy_user_session_path, data:{method:'delete'}}
                %i.icon.sign.out
                Logout

    .ui.main.container    
      = semantic_flash
      = yield

    .ui.vertical.footer.segment